@if (loading) {
<app-skeleton></app-skeleton>
}

@if (errorMsg) {
<h1 class="mx-10 my-5 text-error text-center">{{ errorMsg }}</h1>
}

@if (!loading && !errorMsg) {

<div cdkDropListGroup class="mx-10 my-5 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-6 h-[80vh]">
    <app-columns id="TODO" title="Por hacer" badgeClass="badge-neutral" bgClass="bg-gray-100" [tasks]="columns.TODO"
        [connectedTo]="['TODO','PENDING','IN_PROGRESS','DONE']"
        (dropped)="drop($event.event, $event.column)"></app-columns>

    <app-columns id="PENDING" title="Pendiente" badgeClass="badge-info" bgClass="bg-blue-100" [tasks]="columns.PENDING"
        [connectedTo]="['TODO','PENDING','IN_PROGRESS','DONE']"
        (dropped)="drop($event.event, $event.column)"></app-columns>

    <app-columns id="IN_PROGRESS" title="En progreso" badgeClass="badge-warning" bgClass="bg-yellow-100"
        [tasks]="columns.IN_PROGRESS" [connectedTo]="['TODO','PENDING','IN_PROGRESS','DONE']"
        (dropped)="drop($event.event, $event.column)"></app-columns>

    <app-columns id="DONE" title="Finalizado" badgeClass="badge-success" bgClass="bg-green-100" [tasks]="columns.DONE"
        [connectedTo]="['TODO','PENDING','IN_PROGRESS','DONE']"
        (dropped)="drop($event.event, $event.column)"></app-columns>
</div>
}