@import "tailwindcss";

@plugin "daisyui" {
    themes: fantasy --default, coffee, dim, luxury, caramellatte, retro, corporate;
}

html,
body {
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
  background-color: #0f172a;

  background-image:
    radial-gradient(circle at 0% 0%, rgba(79, 70, 229, 0.20) 0%, rgba(79, 70, 229, 0) 55%),
    radial-gradient(circle at 100% 33%, rgba(14, 165, 233, 0.15) 0%, rgba(14, 165, 233, 0) 55%),
    radial-gradient(circle at 35% 100%, rgba(217, 70, 239, 0.10) 0%, rgba(217, 70, 239, 0) 60%);

  background-repeat: no-repeat;
}

body {
    margin: 0;
}